.about-details-container {
  padding-top: 30px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: #161625;
}

.about-heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  color: #f8fafc;
  font-family: 'Roboto';
  font-style: normal;
}

.about-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #94a3b8;
  font-family: 'Roboto';
  font-style: normal;
}

.vaccine {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #e2e8f0;
}
.question {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #94a3b8;
}
.answer {
  color: #007bff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 767px) {
  .about-details-container {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .about-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #f8fafc;
  }
  .about-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .vaccine {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #e2e8f0;
  }
  .question {
    font-size: 14px;
    line-height: 24px;
  }
  .answer {
    font-size: 14px;
    line-height: 24px;
  }
}

.loader-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
