.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer-logo {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #f8fafc;
}

.logo {
  color: blue;
}

.Footer-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-style {
  height: 38px;
  width: 38px;
  margin: 30px;
}
